<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <background_detection>
        <gaussian_blur_radius>7</gaussian_blur_radius>
        <gaussian_blur_standard_deviation>0</gaussian_blur_standard_deviation>
        <diameter>20</diameter>
        <sigma_color>150</sigma_color>
        <sigma_space>150</sigma_space>
        <dilation_and_erosion_size>3</dilation_and_erosion_size>
        <dilation_and_erosion_counter>4</dilation_and_erosion_counter>
        <window_width>15</window_width>
        <max_number_of_colors>30</max_number_of_colors>
    </background_detection>

    <line_detection>
        <threshold_value>140</threshold_value>
        <unsharp_mask_standard_deviation>5</unsharp_mask_standard_deviation>
        <denoising_factor>50</denoising_factor>

        <!-- COLOR ALIGNMENT -->

        <bilateral_filter_counter>5</bilateral_filter_counter>
        <gaussian_blur_radius>5</gaussian_blur_radius>
        <gaussian_blur_standard_deviation>0</gaussian_blur_standard_deviation>
        <gaussian_blur_counter>2</gaussian_blur_counter>
        <initial_threshold>10</initial_threshold>
        <mimimal_color_area>500</mimimal_color_area>
        <max_number_of_colors>10</max_number_of_colors>
        <diameter>20</diameter>
        <sigma_color>75</sigma_color>
        <sigma_space>50</sigma_space>
    </line_detection>

</configuration>
